<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Додання карти!</title>
</head>
<body>
    <form th:action="@{/addCard}" modelAttribute="cardForm" method="post">
        <input type="hidden" name="referer"  th:value="${ref}" />
        <div> Назва карти <input type="text" value="" name="name" /></div>
        <div> Номер карти <input type="text" value="" name="cardNom" /></div>
        <div> Тип карти
            <select type="text" name="cardType">
                <option th:each="cType : ${cardsType}" th:value="${cType.getId()}" th:text="${cType.getName()}" >10</option>
            </select>
        </div>
        <input type="submit" value="Добавить карту"/>
    </form>
</body>
</html>