<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello people!</title>
</head>
<body>
<form th:action="@{/addCardType}" method="get">
    <input type="submit" value="Добавить"/>
</form>
    <ul>
        <li th:each="cType : ${cardsType}" th:value="${cType.getId()}" th:inline="text">[[${cType.getName()}]] <a th:href="'/cardsTypeEdit/'+${cType.getId()}">Редактировать</a></li>
    </ul>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Вийти"/>
</form>
</body>
</html>