<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Додання карти!</title>
</head>
<body>
    <form th:action="@{/cardEdit}" modelAttribute="cardForm" method="post">
        <input type="hidden" name="referer"  th:value="${ref}" />
        <input type="hidden" th:value="${card.getId()}" name="id" />
        <div> Назва карти <input type="text" th:value="${card.getCardName()}" name="name" /></div>
        <div> Номер карты <input type="text" th:value="${card.getCardNom()}" name="cardNom" /></div>
        <div> Тип карти
            <select type="text" name="cardType">
                <option th:selected="${card.getCardType().getId()}==${cType.getId()} ? 'true' : 'false'" th:each="cType : ${cardsType}" th:value="${cType.getId()}" th:text="${cType.getName()}" ></option>
            </select>
        </div>
        <div> Дата деактивации <input type="text" th:value="${card.getDeactivate()}" name="deactivateDate" /></div>
        <input type="submit" value="Добавить карту"/>
    </form>
</body>
</html>