<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>User's type</title>

    <link th:href="@{/css/bootstrap.min.css}" type="text/css" href="css/bootstrap.min.css" rel="stylesheet" />
    <link th:href="@{/css/common.css}" type="text/css" href="css/common.css" rel="stylesheet" />

    <script th:src="@{/js/html5shiv.min.js}" src="js/html5shiv.min.js"></script>
    <script th:src="@{/js/respond.min.js}" src="js/respond.min.js"></script>

</head>
<body>
<div th:replace="static/static :: header"></div>


    <div class="container">
        <th:if test="!${#lists.isEmpty(userTypeList)}">
            <table class="table table-striped table-bordered">
                <caption><h2 class="form-heading" style="color: #337AB7">Карти</h2></caption>
                <tr>
                    <th>ID</th>

                    <th>КАРТА</th>

                    <th>НОМЕР</th>

                    <th>ТИП</th>

                    <th>АКТИВОВАНО</th>

                    <th>ДЕАКТИВОВАНО</th>

                    <th>КОРИСТУВАЧ</th>

                    <th>РЕДАГУВАТИ</th>
                    <th>ВИДАЛИТИ</th>
                </tr>
                <tr th:each="card : ${cardList}">
                    <td th:text="${card.id}">0</td>

                    <td th:text="${card.name}">None</td>

                    <td th:text="${card.cardNom}">Nom</td>

                    <td th:text="${card.cardType.name}">Type</td>

                    <td th:text="${card.activate}">Activate</td>

                    <td th:text="${card.deactivate}">Activate</td>

                    <td th:text="${card.user?.username}"></td>
                    <!--<td th:if="${card.user} == null"></td>-->

                    <td><a th:href="@{/cardEdit/{id}(id=${card.id})}">РЕДАГУВАТИ</a></td>
                    <td><a th:href="@{/cardDelete/{id}(id=${card.id})}">ВИДАЛИТИ</a></td>
                </tr>
            </table>
        </th:if>
    </div>


    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <!--<p th:if="${param.error[0]}" th:inline="text" class="alert alert-error" style="color: #FF0000">[[${param.error[0]}]]</p>-->
            <p style="color: red" th:text="${param.error[0]}" th:unless="${param.error == null}">Test</p>
            <div>
                <h3 style="color: #2b669a">
                    <span th:text="( (${card} != null)? 'Редагувати' : 'Додати') + ' тип Карти'"/>
                    <br/>
                </h3>
            </div>

            <form class="form-horizontal" th:action="@{/card/add}" action="/card/add" method="post">
                <table>
                    <div th:if="${card} != null">
                        <tr>

                            <td style="padding-right: 5px"><label class="control-label">ID</label></td>
                            <td>
                                <input class="form-control" type="text" th:value="${card?.id}" name="id" readonly="true"/>
                            </td>
                        </tr>
                    </div>
                    <tr>
                        <td><label style="padding-right: 5px" class="control-label">Назва Карти</label></td>
                        <td>
                            <input  class="form-control" type="text" th:value="${card?.name}" name="name"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label style="padding-right: 5px" class="control-label">Номер картки</label></td>
                        <td>
                            <input  class="form-control" type="text" th:value="${card?.cardNom}" name="cardNom"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label style="padding-right: 5px" class="control-label">Дата активации</label></td>
                        <td>
                            <input  class="form-control" type="text" th:value="${card?.activate}!=null?${#calendars.format(card.activate, 'yyyy-MM-dd')}:''" name="activateDate"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label style="padding-right: 5px" class="control-label">Дата деактивации</label></td>
                        <td>
                            <input  class="form-control" type="text" th:value="${card?.deactivate}!=null?${#calendars.format(card.deactivate, 'yyyy-MM-dd')}:''" name="deactivateDate"/>
                        </td>
                    </tr>

                    <tr>
                        <td><label style="padding-right: 5px" class="control-label">Тип картки</label></td>
                        <td >
                            <select type="text" name="cardType">
                                <div th:if="${card}!=null">
                                    <option th:selected="${card.getCardType().getId()}==${cType.getId()} ? 'true' : 'false'" th:each="cType : ${cardsTypeList}" th:value="${cType.getId()}" th:text="${cType.getName()}"></option>
                                </div>
                                <div th:if="${card}==null">
                                    <option th:each="cType : ${cardsTypeList}" th:value="${cType.getId()}" th:text="${cType.getName()}" ></option>
                                </div>
                            </select>
                        </td>
                    </tr>
                    <!--<tr>-->
                        <!--<td><label style="padding-right: 5px" class="control-label">Номер телефона користувача</label></td>-->
                        <!--<td>-->
                            <!--&lt;!&ndash;<input  class="form-control" type="text" th:value="${card?.user.mobile}" name="tel"/>&ndash;&gt;-->
                        <!--</td>-->
                    <!--</tr>-->
                    <tr>
                        <td><br/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div th:if="${card} != null">
                                <button class="btn btn-primary" type="submit">Редагувати</button>
                                <button class="btn btn-default" form="return" type="submit">Відмінити</button>
                            </div>
                            <p></p>
                            <div th:if="${card} == null">
                                <button class="btn btn-primary" type="submit">Додати</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>

            <p></p>

            <form class="form-horizontal" th:action="@{/logout}" method="post">
                <input class="btn btn-default" type="submit" value="Вийти"/>
            </form>

            <form class="form-horizontal" id="return" th:action="@{/cards}" method="get">
            </form>
        </div>
        <p><br/></p>
    </div>

<script th:src="@{/js/jquery-3.1.0.min.js}" src="js/jquery-3.1.0.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
<script th:src="@{/js/script.js}" src="js/script.js"></script>

</body>
</html>